# === Node dependencies ===
node_modules/

# === Expo ===
.expo/
.expo-shared/
dist/
web-build/

# === Environment ===
.env*
*.tsbuildinfo

# === macOS ===
.DS_Store

# === Metro & Debugging ===
*.log
npm-debug.*
yarn-debug.*
yarn-error.*
*.lock
*.orig.*
.metro-health-check*

# === Certificates / Signing keys ===
*.jks
*.keystore
*.p8
*.p12
*.key
*.mobileprovision
*.pem

# === IDEs and Editors ===
.vscode/
.idea/
*.iml

